<?xml version="1.0" ?>
<robot name="Jeremiah_20_r_circle">

    <link name="20_r_circle">
        <visual>
            <origin rpy="1.5707963267948966 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="Shapes/20_r_circle.stl" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="Shapes/20_r_circle.stl" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

</robot>
