<?xml version="1.0" ?>
<robot name="Jeremiah_40_square_40_concave">

    <link name="40_square_40_concave">
        <visual>
            <origin rpy="1.5707963267948966 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="Shapes/40_square_40_concave.stl" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="Shapes/40_square_40_concave.stl" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

</robot>
