<?xml version="1.0" ?>
<robot name="Jeremiah_40x40_Square">

    <link name="40x40_Square">
        <visual>
            <origin rpy="1.5707963267948966 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="Shapes/40x40_Square.stl" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="Shapes/40x40_Square.stl" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

</robot>
