<?xml version="1.0" ?>
<robot name="45_10_slope_cone">

    <link name="45_10_slope_cone">
        <visual>
            <origin rpy="1.5707963267948966 0 0" xyz="0 0 0"/>
            <geometry>
                <mesh filename="Shapes/45_10_slope_cone.STL" scale="1 1 1"/>
            </geometry>
        </visual>
        <collision>
            <geometry>
                <mesh filename="Shapes/45_10_slope_cone.STL" scale="1 1 1"/>
            </geometry>
        </collision>
    </link>

</robot>
